/* Header */
.Navbar {
  height: 160px;
  position: relative;
}

.Navbar .logo {
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -139px;
  width: 280px;
}

.Navbar .mr-auto {
  position: absolute;
  top: 20px;
  right: 15px;
}

.Navbar .item {
  margin-right: 5px;
  text-decoration: none;
  color: #212529;
}

.Navbar .item::after {
  content: "";
  border: 1px solid #eee;
  margin-left: 5px;
}

.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

/* 검색어 입력 */
.input-group {
  width: 100% !important;
  display: block;
  border: 2px solid #04cf5d;
  border-radius: 7px;
  position: relative;
}

.input-group .form-control:focus {
  box-shadow: none;
}

.SearchBar {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.searchLists.none {
  display: none;
}

.searchLists {
  list-style-type: none;
  border: 2px solid #eee;
  border-radius: 3px;
  background-color: #fff;
}

/* 검색어 리스트  */
.liList {
  display: flex;
  align-items: center;
}

.liList:hover {
  background-color: #f9fafb;
  cursor: pointer;
}

/* 검색어 돋보기 이미지 */
.SearchImg {
  margin-right: 10px;
}

/* 검섹어 리스트 h3 태그 */
.searchList {
  font-size: 16px;
  cursor: pointer;
  background-color: #fff;
  color: #202020;
  line-height: 1.7rem;
  margin: 5px 0;
}

/* table th태그들 */
.tableHead {
  text-align: center;
}

.SearchedProductList {
  border-top: 1px solid #eee;
}

.SearchedProductList:last-child {
  border-bottom: 1px solid #eee;
}

.SearchedProductList .imgs {
  width: 150px;
  height: 150px;
  border: 2px solid #eee;
  vertical-align: middle;
  margin: 20px;
}

.SearchedProductList .productNamePart {
  position: relative;
}

.SearchedProductList .titles {
  position: absolute;
  top: 20px;
  font-weight: 700;
  font-size: 14px;
}

.SearchedProductList .atag {
  text-decoration: none;
  color: #000;    
}

.SearchedProductList .titles:hover {
  text-decoration: underline;
  color: #000;
}

.SearchedProductList .youtube_div {
  position: absolute;
  top: 140px;
}

.SearchedProductList .youtube_div .youtube {
  text-decoration: none;
  color: #000;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SearchedProductList .youtube_div .youtube .BsYoutube {
  margin-right: 5px;
}

.SearchedProductList .category {
  font-size: 12px;
  color: #777777;
}

.SearchedProductList:hover {
  background-color: #f9fafb;
}

.SearchedProductList:hover .imgs {
  border: 2px solid #0083eecc;
}

.SearchedProductList .tableSet {
  text-align: center;
}

.SearchedProductList .price {
  color: #f24443;
  font-size: 15px;
  font-weight: 700;
}

/* pagination */
.nav {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.nav .pagination .page-item .page-link {
  color: #000;
  font-weight: 700;
}

.nav .pagination .page-item.active .page-link {
  color: #ff5544;
  background-color: transparent;
  border: 1px solid #eee;
}

/* Myimg */
.Myimg_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 550px;
}

.Myimg_div .Myimg {
  width: 150px;
  height: 150px;
}

/* 장바구니 */
.cartList .cartListImg {
  width: 150px;
  height: 150px;
}

/* 로그인 */
.Login_container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 555px;
  height: 358px;
  margin: 0 auto;
  background: #f1f1f1;
  word-break: break-all;
  border: 1px solid rgba(0, 0, 0, 0.274);
  border-radius: 10px;
}

.Login_container .bloc-tabs {
  display: flex;
}
.Login_container .tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  background: #f8f9fa;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
  border-radius: 8px;
}
.Login_container .tabs:not(:last-child){
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.Login_container .active-tabs  {
  background: white;
  border-bottom: 1px solid transparent;
}

button {
  border: none;
}

.Login_container .content-tabs {
  flex-grow : 1;
}
.Login_container .content {
  background: white;
  padding: 20px;
  width: 100%;
  height: 300px;
  display: none;
}

.Login_container .content-tabs .img_lock {
  width: 58px;
  height: 58px;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
}

.Login_container .content-tabs .one_text {
  font-size: 16px;
  margin-top: 10px;
  font-weight: 700;
  text-align: center;
}

.Login_container .content-tabs .singleUse {
  margin-top: 20px;
  height: 50px;
}

.Login_container .content-tabs .otloginBtn {
  width: 100%;
  height: 45px;
  background-color: #03c75a;
  border: solid 1px rgba(0,0,0,.15);
  margin-top: 5px;
  border-radius: 6px;
  font-weight: 900;
}

.Login_container .content-tabs .one_text .accent {
  color: #03c75a;
}

.Login_container .content-tabs .email {
  height: 55px;
}

.Login_container .content-tabs .email:focus {
  border-color: #03c75a;
  box-shadow: none;
}

.Login_container .content-tabs .password {
  height: 55px;
}

.Login_container .content-tabs .password:focus {
  border-color: #03c75a;
  box-shadow: none;  
}

.Login_container .content-tabs .checkbox {
  margin-top: 25px;
}

.Login_container .content-tabs .loginBtn {
  width: 100%;
  height: 55px;
  background-color: #03c75a;
  border: solid 1px rgba(0,0,0,.15);
  margin-top: 10px;
  border-radius: 6px;
  font-weight: 900;
}

.Login_container .active-content {
  display: block;
  border-radius: 10px;
}


/* footer */
.footer {
  margin-top: 80px;
  text-align: center;
  font-size: 13px;
  margin-bottom: 30px;
}

.footer .footer_ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.footer .footer_ul a {
  color: #888;
  text-decoration: none;
  margin-right: 7px;
}

.footer .footer_ul li::after {
  content: "";
  border: 1px solid #eee;
  margin-right: 7px;
}

.footer .footer_ul li:last-child::after {
  display: none;
}

.footer .footer_Mylogo {
  width: 20px;
  margin-right: 10px;
}

/* 회원가입 */
.container .content {
  width: 462px;
  margin: 0 auto;
}

.container .content .signInId {
  border: 2px solid #eee;
  height: 50px;
}

.container .content .signInId .signInFormControl:focus {
  border: 1px solid #eee;
}

.container .content .Email_text {
  background-color: transparent;
  color: #8e8e8e;
}

.container .content .signInHead {
  font-size: 15px;
  font-weight: 700;
}

.container .content .formControl {
  width: 100%;
  height: 50px;
  border: 2px solid #eee;
}

.container .content .formControl:focus {
  box-shadow: none;
  border: 2px solid #eee;  
}

.container .content .signInBtn {
  width: 100%;
  height: 55px;
  background-color: #03c75a;
  border: solid 1px rgba(0,0,0,.15);
  margin-top: 10px;
  border-radius: 6px;
  font-weight: 900;  
}

.cartContainer {
  width: 1100px;
}

.MuiDataGrid-cell:focus {
  outline: 0 !important;
}

.cartContainer .Sumborder {
  border: 1px solid black;
  /* margin-top: 30px; */
}

/* .cartContainer .Sumborder:last-child {
  margin: 0;
} */

.cartContainer .sum {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 115px;
  box-sizing: border-box;
}

.cartContainer .sumText {
  font-weight: bold;
  font-size: 19px;  
}

.cartContainer .sumTotal {
  color: #00c63a;
  margin-left: 10px;
  margin-top: -2px;
  font-size: 24px;
}